@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<body>
    <div class="container news-section mt-5 border border-secondary mb-5 p-4" style="border-width: 3px; border-style: solid; border-color: gray; padding: 20px;">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-12" id="load_data">
                    <div class="cart-title mt-50">
                        <h2>Shopping Cart</h2>
                    </div>
                    <div class="cart-table clearfix">
                        @Html.Action("Partial_Item_Cart", "Cart")
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    <!-- ##### Newsletter Area Start ##### -->
    <!-- ##### Newsletter Area End ##### -->
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->


</body>

<style>
    .main-content-wrapper .cart-table-area table thead tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
        background-color: #c6c6c6;
    }
</style>