@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Trang tin tức";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@*<div class="container news-section mt-5 border border-secondary mb-5 p-4" style="border-width: 3px; border-style: solid; border-color: gray; padding: 20px;">
        <h2 class="text-center mb-4"><i class="fas fa-newspaper"></i> Latest News</h2>
            @{ Html.RenderAction("getNewsList", "News");}
    </div>*@
<body>
    <div class="container news-section mt-5 border border-secondary mb-5 p-4" style="border-width: 3px; border-style: solid; border-color: gray; padding: 20px;">
        <h2 class="text-center mb-4"><i class="fas fa-newspaper"></i> Latest News</h2>
        @{
            Html.RenderAction("getNewsList", "News", new { page = ViewBag.PageNumber });
        }
    </div>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        /*background-image: url("~/Content/img/core-img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;*/
    }
</style>
